.flex{
    display: inline-block;
    /* margin: auto; */
    margin-right: 70px;
    margin-top: 20px;
    /* width: 50%; */
    
}

.doller{
    font-size: 20px;
    margin-left: 15px;
}
.a{
    color:white;
    text-decoration: none;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.a:hover{
    color: red
}
.a:active{
    color:green
}
.p{
    font-size: 40px;
}
.amount{
    display: inline-block;
    justify-content: space-evenly;
    /* background-color: rgb(156, 152, 152); */
    width: 100%;
    color: black;
    margin: auto;
    
}
.h{
    font-size: 15px;
}
.u{
    font-size: 20px;
}
/* .o{
    font-size: 30px;
} */
.r{
    font-size: 20px;
    color: black;
}
.j{
    margin-top: 50px;
}