/* .flex{
    display: inline-block;
    margin-right: 70px;
    margin-top: 20px;
    
} */
@media (min-width: 1025px) and (max-width: 1600px) {
    .flex{
        display: inline-block;
        width: 30%;
        margin: 30px auto;
    }
    
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    .flex{
        display: inline-block;
        width: 35%;
        margin: 30px 30px;
    }
    
  }
  @media (min-width: 400px) and (max-width: 767px) {
    .flex{
        display: block;
        width: 75%;
        margin: 30px auto;
    }
    
  }
  @media (min-width: 200px) and (max-width: 400px) {
    .flex{
        display: block;
        width: 85%;
        margin: 30px auto;
    }
    
  }

.doller{
    font-size: 20px;
    margin-left: 15px;
}
.a{
    color:white;
    text-decoration: none;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.a:hover{
    color: red
}
.a:active{
    color:green
}
.p{
    font-size: 40px;
}
.amount{
    display: inline-block;
    justify-content: space-evenly;
    /* background-color: rgb(156, 152, 152); */
    width: 100%;
    color: black;
    margin: auto;
    
}
.h{
    font-size: 15px;
}
.u{
    font-size: 20px;
}
/* .o{
    font-size: 30px;
} */
.r{
    font-size: 20px;
    color: black;
}
.j{
    margin-top: 80px;
}
.e{
    width: 50%;
    height: 40px;
    margin: auto;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    padding-left: 30px;
    font-size: 20px;
    position: static;
}
.o{
    /* border: 2px solid black; */
    margin-bottom: 20px;
    opacity: 0.4;
    background-color: gray;
}
.paragraph{
    text-align: justify;
    opacity: 0.7;
}