body {
  width: 100%;
  margin: auto;
 box-sizing: border-box;
 align-items: center;
 text-align: center;
 justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
